<div class="wrapper carousel-wrapper">
  <div class="container carousel-container">
    <span class="prev"></span>
    <div id="carrousel">
      <ul class="list-inline">
        <li class="list-inline-item"><img  src="https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/054/000/319/472/ad2264c9233e478095099096be91a3dc.png" alt="resto" class="img-thumbnail"></li>
        <li class="list-inline-item"><img src="https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/054/000/319/472/3b52c1767d11422786d5dfc0078e7fb3.jpg" alt="salle" class="img-thumbnail"></li>
        <li class="list-inline-item"><img  src="https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/054/000/319/472/59af02375dd046f493f22ea5de5f82f7.jpg" alt="terrasse" class="img-thumbnail"></li>
        <li class="list-inline-item"><img  src="http://idata.over-blog.com/3/64/93/53/2012/sd1.jpg" alt="salade" class="img-thumbnail"></li>
      </ul>
    </div>
    <span class="next"></span>
  </div>
</div>
