<div class="wrapper carousel-wrapper">

  <div class="container carousel-container">

    <div class="row img-container">

      <div class="col-xs-2 col-sm-2 col-md-2 columns">
        <span class="prev"> < </span>
      </div>

      <div class="col-xs-8 col-sm-8 col-md-8 columns" id="carousel">
        <img  src="https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/054/000/319/472/ad2264c9233e478095099096be91a3dc.png" alt="resto" class="img-fluid" id="food">

        <img src="https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/054/000/319/472/3b52c1767d11422786d5dfc0078e7fb3.jpg" alt="salle" class="img-fluid" id="bar">

        <img  src="https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/054/000/319/472/59af02375dd046f493f22ea5de5f82f7.jpg" alt="terrasse" class="img-fluid" id="terrace">

      </div>

      <div class="col-xs-2 col-sm-2 col-md-2 columns">
        <span class="next"> > </span>
      </div>

    </div>


    <div class="row btn-container">
      <div class="col-xs-2 col-xs-offset-3 col-sm-2 col-sm-offset-3 col-md-2">
      <span class="choice1">  </span>
    </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
      <span class="choice2">  </span>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
      <span class="choice3">  </span>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
