<div class="wrapper">

    <!-- Tab links -->
  <div class="tab">
    <nav class="tablist">
      <a class="tablinks active" href="#prez">Présentation</a>
      <a class="tablinks" href="#menu">Menu</a>
      <a class="tablinks" href="#desserts">Desserts</a>
    </nav>

    <!-- Tab content -->
    <div id="prez" class="tabcontent show">
      <h3>Présentation</h3>
      <p>Issa Nissa notre resutaurant est le meilleur</p>
    </div>
    <div id="menu" class="tabcontent">
      <h3>Menu</h3>
      <p>Voici notre menu</p>
    </div>
    <div id="desserts" class="tabcontent">
      <h3>Desserts</h3>
      <p>Hum les desserts</p>
    </div>
  </div>

</div>
