<div class="wrapper tab-wrapper">

  <div class="container tab-container">

    <!-- Tab links -->
    <div class="row tab">
      <div class="col-xs-3 col-sm-2 col-sm-offset-2 col-md-2 col-md-offset-3">
      <button class="tablinks" id="title-prez">Intro</button>
      </div>
      <div class="col-xs-3 col-sm-2 col-md-2">
      <button class="tablinks" id="title-menu">Menu</button>
      </div>
      <div class="col-xs-3 col-sm-2 col-md-2">
      <button class="tablinks" id="title-desserts">Desserts</button>
      </div>
    </div>

    <!-- Tab content -->
    <div id="prez" class="tabcontent">
      <h3>Présentation</h3>
      <p>Issa Nissa notre resutaurant est le meilleur</p>
    </div>
    <div id="menu" class="tabcontent">
      <h3>Menu</h3>
      <p>Voici notre menu</p>
    </div>
    <div id="desserts" class="tabcontent">
      <h3>Desserts</h3>
      <p>Hum les desserts</p>
    </div>
  </div>
</div>
