<div class="wrapper tab-wrapper">

  <div class="container tab-container">

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" id="title-prez">Présentation</button>
      <button class="tablinks" id="title-menu">Menu</button>
      <button class="tablinks" id="title-desserts">Desserts</button>
    </div>

    <!-- Tab content -->
    <div id="prez" class="tabcontent">
      <h3>Présentation</h3>
      <p>Issa Nissa notre resutaurant est le meilleur</p>
    </div>
    <div id="menu" class="tabcontent">
      <h3>Menu</h3>
      <p>Voici notre menu</p>
    </div>
    <div id="desserts" class="tabcontent">
      <h3>Desserts</h3>
      <p>Hum les desserts</p>
    </div>
  </div>
</div>
