<div class="wrapper" id="header">
  <div class="container" id="header-container">
      <ul>
        <li id="logo">
          <a href="#">
            <%= image_tag('logo-issa-nissa.png', alt: "") %>
          </a>
        </li>
        <li id="map">
          <a href="https://www.google.fr/maps/place/Brasserie+De+L'union/@43.7132904,7.2548283,14z/data=!4m12!1m6!3m5!1s0x0:0xd44e133c956dc2c9!2sBrasserie+De+L'union!8m2!3d43.7146102!4d7.2612467!3m4!1s0x0:0xd44e133c956dc2c9!8m2!3d43.7146102!4d7.2612467">Nous situer</a>
        </li>
      </ul>
    </div>
  </div>
</div>
