.carousel-wrapper {
  background-color: transparent;
}

.carousel-container {
  background-color: transparent;
  width: 90%;
  height: auto;
  margin-top: 15px;
  padding-top: 55px;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

#carousel{
  height: 50%;
  margin: auto;
  padding: auto;
}

#carousel img {
  max-width: 100%;
  height: auto;
  box-shadow: 5px 5px 55px black;
}

.next, .prev{
  color: $white;
  font-size: 40px;
  font-weight: bold;

}

.choice1, .choice2, .choice3
{
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-left: 40%;
  border-radius: 100%;
  border: 2px solid $white;
  margin-top: 25px;
}
