#footer {
  background-color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 25px;
}

#footer-container {
  margin: 0 auto;
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
}
