#header {
  background-color: $white;
}

#header-container {
  margin: 0 auto;
  height: 80px;
}

#header-container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 8px 10px;
}
#header-container img {
  height: 65px;
}

#map a {
  color: $gray;
  font-size: 18px;
}

#map a:hover {
  color: $beige;
  text-decoration: none;
}
